{% extends 'profile/base.html' %}
{% load static %}
    <!-- Main content area -->{% block content  %}

    <section class="h-100 gradient-custom-2">
      
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 col-xl-7">
              <div class="card">
                <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                  <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                      style="width: 150px; z-index: 1">
                   
                  </div>
                  <div class="ms-4" style="margin-top: 90px;">
                    <h5 style="color:aliceblue">{{addresses.name}} </h5>
                    <p>
                      <a href="#editEmployeeModal" class="edit" data-toggle="modal" data-c-id="{{ addresses.id }}" > <i class="material-icons" style="color:hsl(212, 81%, 33%)" data-toggle="tooltip" title="Edit">Edit</i></a></p>
                  
                     <p style="color:red"> Welcom to ShoeRack </p>
                              
        
                 
                   
                  </div>
                </div>
                <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <div class="d-flex justify-content-end text-center py-1">
                    <div>
                      <p class="mb-1 h5"></p>
                      <p class="small text-muted mb-0"></p>
                    </div>
                    <div class="px-3">
                      <p class="mb-1 h5"></p>
                      <p class="small text-muted mb-0"></p>
                    </div>
                    <div>
                      <p class="mb-1 h5"></p>
                      <p class="small text-muted mb-0"></p>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                <div class="card-body p-4 text-black">
                  <div class="mb-5">
                    <div class="p-4" style="background-color: #f8f9fa;">
                      <p class="font-italic mb-1">Email : {{addresses.email}}</p>
                      <p class="font-italic mb-1">Pone : {{addresses.phone_number}}</p>
                      <p class="font-italic mb-0"></p>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row alig n-items-start">
                      <div class="col-6">
                        <h5 class="card-title mb-9 fw-semibold"> Coins </h5>
                        <h5>Balance: </h5><h4 class="fw-semibold mb-3">🪙{{wallet.coins}}</h4>
                        <div class="d-flex align-items-center pb-1">
                          <span
                            class="me-2 rounded-circle bg-light-success round-20 d-flex align-items-center justify-content-center">
                            <i class="ti ti-arrow-up-right text-success"></i>
                          </span>
                          <p class="text-dark me-1 fs-3 mb-0"></p>
              
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="d-flex justify-content-end">
                          <div
                            class="text-white bg-secondary rounded-circle p-6 d-flex align-items-center justify-content-center">
                            <i class="ti ti-currency-dollar fs-6"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="earning"></div>
                </div>
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="mb-4">
                      <h5 class="card-title fw-semibold">Recent Transactions</h5>
                    </div>
                    <ul class="timeline-widget mb-0 position-relative mb-n5">
                      {% for his in wallethistory %}
                      <li class="timeline-item d-flex position-relative overflow-hidden">
                        <div class="timeline-time text-dark flex-shrink-0 text-end">{{his.created_at}}</div>
                        <div class="timeline-badge-wrap d-flex flex-column align-items-center">
                          <span class="timeline-badge border-2 border border-primary flex-shrink-0 my-8"></span>
                          <span class="timeline-badge-border d-block flex-shrink-0"></span>
                        </div>
                        <div class="timeline-desc fs-3 text-dark mt-n1">{{his.task}}</div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
          </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      </section>
<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{% url 'edit_profile' addresses.id %}">
      {% csrf_token %}
      <div class="modal-header">						
          <h4 class="modal-title">Edit Profile Name</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">					
          <div class="form-group">
              <label for="category_name"> Name</label>
              <input type="text" class="form-control" id="category_name" name="name" value="{{addresses.name}}" required>
          </div>
      </div>
      <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-info" value="Save">
      </div>
  </form>
  
      </div>
  </div>
  </div>
 



    {% endblock %}