{% extends 'admin_panel/base.html' %}
{% load static %}


{% block heading %} subCategory{% endblock  %}


{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Add Subategory</h3>
                </div>
                <div class="card-body">
                 
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <br>
                            <select class="form-control" name="category" id="category">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <br>
                            <label for="subcategory_name">Subcategory Name:</label>
                            <input type="text" class="form-control" name="subcategory_name" id="subcategory_name">
                        </div>
                        <br>
                        <div class="item-center p-2"> <button type="submit" class="btn btn-primary">Create Subcategory</button></div>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock  %}


<form method="post" action="">
    {% csrf_token %}
    <label for="category">Category:</label>
    <select name="category" id="category">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="subcategory_name">Subcategory Name:</label>
    <input type="text" name="subcategory_name" id="subcategory_name">
    <br>
    <input type="submit" value="Create Subcategory">
</form>